@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    &__top{
        background-color: $dark-800; 
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        padding: 17px 0;
    }

    &__delivery{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item{
        margin-right: 50px;
    }

    &__link{
        text-transform: uppercase;
        font-size: 13px;
        line-height: 16px;
        position: relative;
        transition: opacity, 0.5s;

        &--bus{
            padding-left: 44px;
        }

        &--tel{
            padding-left: 34px;
        }
    }

    &__link:hover{
        opacity: 0.7;
    }

    &__link::before{
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
    }

    &__link--bus::before{
        content: url('../images/address-bus.svg');
    }

    &__link--tel::before{
        content: url('../images/address-tel.svg');
    }

    &__about{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list:not(:last-child){
        margin-right: 25px;
    }

    &__items{
        text-transform: uppercase;
        font-size: 13px;
        line-height: 16px;
        transition: opacity, 0.5s;
    }

    &__items:hover{
        opacity: 0.7;
    }

    &__bottom{
        background-color: $green-900;
        padding: 25px 0;
    }

    &__content{
        display: flex;
    }

    &__logo{
        margin-right: 24px;
    }

    &__catalog{
        padding: 0 60px;
        color: $green-900;
        border: none;
        border-radius: 6px;
        position: relative;
        margin-right: 30px;
        transition: background-color, 0.5s;
    }

    &__catalog:hover{
        background-color: #E0EDCF;
    }

    &__catalog::before{
        content: url('../images/icons/catalog__burger.svg');
        position: absolute;
        left: 0;
        padding-left: 18px;
    }

    &__catalog::after{
        content: url('../images/icons/catalog__arrow-down.svg');
        position: absolute;
        right: 0;
        padding-right: 18px;
    }

    &__label{
        max-width: 581px;
        width: 100%;
    }

    &__input{
        max-width: 419px;
        width: 100%;
        padding: 15px 15px 15px 55px;
        border: none;
        border-radius: 6px 0 0 6px;
        position: relative;
        background-image: url('../images/icons/form__search.svg');
        background-repeat: no-repeat;
        background-position: center left;
        background-position-x: 12px;
        margin-right: -5px;
    }

    &__button{
        text-transform: uppercase;
        padding: 15px 52px;
        background-color: $dark-800;
        border-radius: 0px 6px 6px 0px;
        color:$white;
        transition: background-color, 0.5s;
    }

    &__button:hover{
        background-color: rgba(49, 53, 43, 0.85);
    }

    &__input::placeholder{
        color: $dark-800;
    }

    &__profil{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 26px;
    }

    &__users{
        margin-right: 33px;
    }

    &__users:hover{
        background-color: #fff;
        z-index: 1;
        opacity: 0.1;
    }

    &__user{
        position: relative;
    }

    &__num{
        position: absolute;
        left: -9px;
        top: -9px;
        padding: 4px;
        color: $red-900;
        background-color: $white;
        border-radius: 50%;
    }
}

.discount{

    .slick-arrow{
        padding: 14px 21px;
        border-radius: 6px;
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        position: absolute;
        z-index: 1;
        top:50%
    }

    .slick-prev{
        left: 0;
        margin-left: 60px;
    } 
    
    .slick-arrow{
        right: 0;
        margin-right: 60px;
    }

    &__page{
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        min-height: 600px;
        height: 100%;
    }

    &__box{
        background: rgba(255, 255, 255, 0.8);
        border-radius: 6px;
        padding: 24px;
        margin-bottom: 30px;
        margin-top: 143px;
    }

    &__box--carrot{
        max-width: 783px;
    }

    &__box--tomato{
        max-width: 834px;
    }

    &__box--cabbage{
        max-width: 893px;
    }

    &__title{
        font-size: 60px;
        line-height: 130%;
        color: $dark-500;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    &__title span{
        text-transform: uppercase;
        color: $red-900;
    }

    &__text{
        font-size: 16px;
        color:$dark-500;
    }
}


.advantages{
    color:#F6F6F6;
    padding: 48px 0;

    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__box{
        position: relative;
        background-repeat: no-repeat;
        align-items: center;
        left: 0;
        padding-left: 75px;
    }

    &__box--scooter{
        background-image: url('../images/advantages/scooter.svg');
    }

    &__box--return{
        background-image: url('../images/advantages/return-box.svg');
    }

    &__box--hours{
        background-image: url('../images/advantages/24-hours.svg');
    }

    &__box:not(:last-child){
        margin-right: 48px;
    }

    &__title{
        font-size: 16px;
        color: $dark-900;
        margin-bottom: 6px;
    }

    &__text{
        color:$dark-500;
    }
}

.product{
    padding: 90px 0 72px 0;

    &__title{
        margin-bottom: 30px;
    }

    &__card{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-right: -30px;
        margin-bottom: 25px;
    }

    &__list{
        max-width: calc(100%/4 - 30px);
        margin-right: 30px;
        border: 1px solid rgba(17, 17, 17, 0.2);
        border-radius: 6px;
        padding: 12px 18px 18px 18px;
        margin-bottom: 30px;
        transition: border, 0.5s;
        height: 409px;
    }

    &__list:hover{
        border: 1px solid #63A60E;
    }

    &__top{
        display: flex;
        justify-content: space-between;
    }

    &__new{
        padding: 3px 6px;
        border-radius: 6px;
        background-color: $green-900;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 100%;
        display: block;
    }

    &__cheap{
        padding: 3px 6px;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 100%;
        background-color: #CF3E3B;
    }

    &__new--orange {
        background-color: #FF7A00;
    }

    &__new--red{
        background-color: #CF3E3B;
    }

    &__like{
        border:none;
        background-color: $white;
    }

    &__about{
        font-size: 14px;
        font-weight: 600;
        color: $dark-900;
        display: block;
        height: 60px;
        margin-bottom: 9px;
    }

    &__about--small{
        font-size: 13px;
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
    }

    &__now{
        color:$dark-500;
        line-height: 100%;
    }

    &__basket{
        border:none;
        background-color: $green-900;
        border-radius: 6px;
        padding: 8px;
    }

    &__button{
        background-color: $white;
        color:$green-900;
        display: flex;
        margin: 0 auto;
        border-color: $green-900;
        transition: background-color, 0.5s;
        margin-bottom: 70px;
    }

    &__button:hover{
        background-color: #EFF6E7;
    }

    &__banners{
        display: grid;
        grid-template-columns: 50% 25% 25%;
    }

    &__banner{
        background-size: cover;
        background-repeat: no-repeat;
        padding: 76px 0 76px 30px;
        height: 300px;
    }

    &__banner:not(:last-child){
        margin-right: 15px;
    }

    &__banner--fruit{
        background-image: url('../images/banners/fruits.jpg');
    }

    &__banner--vagebtals{
        background-image: url('../images/banners/vegebtals.jpg');
    }

    &__banner--bread{
        background-image: url('../images/banners/bread.jpg');
    }

    &__subtitle{
        font-size: 12px;
        line-height: 100%;
        color:$dark-500;
        text-transform: uppercase;
        @extend %lato-700;
        display: block;
        margin-bottom: 18px;
    }

    &__subtitle--white{
        color: $white;
    }

    &__slogan{
        font-size: 30px;
        color:$dark-500;
        text-transform: uppercase;
        @extend %signika-400;
        margin-bottom: 12px;
    }

    &__slogan span{
        display: block;
        margin-top: 20px;
    }

    &__slogan--white{
        color:$white;
        width: 401px;
    }

    &__slogan--vegetebls{
        width: 185px;
    }

    &__slogan--bread{
        width: 145px;
    }

    &__link{
        line-height: 100%;
        color:$dark-500;
        text-transform: uppercase;
        padding-bottom: 6px;
        border-bottom: 1px solid $dark-500;
    }

    &__link--white{
        color:$white;
        border-bottom: 1px solid $white;
    }
}

.sale{
    background-color:  #F5F5F5;
    padding: 95px 0;

    &__title{
        margin-bottom: 32px;
    }

    &__card{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-right: -30px;
        margin-bottom: 18px;
    }

    &__list{
        border: 1px solid #C1C1C1;
        border-radius: 6px; 
        display: flex;
        background-color: $white;
        max-width: calc(100%/4 - 30px);
        margin-right: 30px;
        margin-bottom: 30px;    
        max-width: 300px;
        max-height: 124px;
        width: 100%;
        height: 100%;
        padding: 12px 13px;
    }

    &__new{
        padding: 3px 6px;
        border-radius: 6px;
        background-color: $green-900;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 100%;
    }

    &__new--orange{
        background-color: #FF7A00;
    }

    &__img{
        max-width: 100px;
        min-width: 100px;
        max-height: 80px;
        width: 100%;
        height: 100%;
    }

    &__box{
        height: 58px;  
    }

    &__name{
        color:$dark-900; 
        font-weight: 600;
        display: block;
        height: 58px;
    }

    &__desc{
        font-weight: 600;
        font-size: 10px;
        line-height: 100%;
        color: $green-900;
        text-transform: uppercase; 
        margin-bottom: 5px;
    }

    &__desc--ends{
        color: $red-900;
    }

    &__desc--finish{
        color:$silver-600; 
    }

    &__cost{
        display: flex;
        justify-content: space-between;
    }

    &__price{
        font-size: 20px;
        color: $dark-500;
    }

    &__price::after{
        content: '1999ла';
        font-size: 12px;
        color: $silver-600;
    }

    &__star{
        border:none;
        background-color: $white;
        padding-left: 25px;
    }

    &__star::before{
        content: '4.5';
        line-height: 100%;
        color: $dark-500;
    }

    &__button{
        color:$white;
        display: flex;
        margin: 0 auto;
        border:none; 
    }
}

.partners{
    padding: 72px 0;

    &__list{
        display: flex;
        justify-content: space-between;
    }

    &__item:not(:last-child){
        margin-right: 162px;
    }
}

.news{
    padding-bottom: 74px;

    &__inner{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px; 
    }

    &__all{
        line-height: 100%;
        text-transform: uppercase;
        color: $green-900;
        padding-bottom: 6px;
        border-bottom: 1px solid  $green-900;
    }

    &__boxs{
        display: flex;
        justify-content: space-between;
    }

    &__box{
        max-width: 410px;
        max-height: 351px;
        width: 100%;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
    }

    &__box:not(:last-child ){
        margin-right: 32px;
    }

    &__calendar{
        background-color: $white;
        padding: 18px 16px 10px 16px;
        border-radius: 0px 0px 4px 4px;
        max-width: 65px;
        position: absolute;
        z-index: 2;
    }

    &__month{
        display: block;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
        color: $dark-900;
    }

    &__day{
        display: block;
        font-size: 30px;
        line-height: 30px;
        color: $dark-900;
        font-weight: 600;
    }

    &__img{
        position: relative;
        z-index: 1;
    }

    &__text{
        font-size: 18px;
        color:$dark-900;
        font-weight: 600;
        margin: 18px;
        transition: color, 0.5s;
    }

    &__text:hover{
        color: $green-900;

    }
}

.footer{
    background-color: $dark-800;
    padding-top: 30px;

    &__top{
        margin-bottom: 30px;
    }

    &__content{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__form{
        margin-right: 158px;
    }

    &__subtitle{
        font-weight: 400;
        margin-bottom: 18px;
    }

    &__label{
        max-width: 300px;
    }

    &__input{
       max-width: 182px;
        padding: 12px;
        border-radius: 6px 0px 0px 6px;
        border: none;
        margin-right: -5px;
    }
    
    &__input::placeholder{
        line-height: 100%;
        color: #4F4F4F;
    }

    &__button{
        padding: 12px 10px 12px 14px;
        border-radius: 0px 6px 6px 0px;
        background-color: $green-900;
        text-transform: uppercase;  
        color: $white;
        border:none;
    }

    &__about{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 84px;
    }

    &__mobile{
        margin-bottom: 18px;
    }

    &__contacts{
        margin-right: 12px;
    }

    &__addres{
        display: block;
        margin-bottom: 18px;
    }

    &__social{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__items:not(:last-child){
        margin-right: 12px;
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
    }

    &__pay{
        display: flex;
    }

    &__images{
        margin-right: 24px;
    }
}


@import 'media';